@font-face {
    font-family: digital;
    src: url('../fonts/digital-7.ttf');
}
html{
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-color: #000000;
    display: table;
    width: 100%;
}
.wrapper {
    display: table-cell;
    vertical-align: middle;
}
p#cmt_edit_323 {
    width: auto;
    cursor: pointer;
    max-width: 100%;
    padding: 50px;
    margin: 0 auto;
    text-align: center;
}
#counter-value,
#input-value {
    color: #ffffff;
    font-family: 'digital';
    background-color: #000000;
    text-align: center;
    font-size: 100px;
    margin: 0;
    width: 100%;
}
.setting-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    cursor: pointer;
}
#cmt_edit_323 input { display: none; }

span.increase-font,
span.decrease-font {
    padding: 10px;
    cursor: pointer;
}
.font-size-w {
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    padding: 10px;
}